{% extends "base.html" %}
{%block title%} {{block.super}} | differenza {%endblock title%}
{%block content%}
  <b>var1 = math.random(1,20)</b> <br/>
  <b>var2 = math.random(1,20)</b> <br/>

  {% if var1 > var2 %}
    <p><i>{var1} è il numero maggiore </i></p>
    <p><i>{var2} è il numero minore </i></p>
  {% endif %}
  {% elif var1 < var2 %}
    <p><i>{var1} è il numero minore </i></p>
    <p><i>{var2} è il numero maggiore </i></p>
  {% endif %}
  {% else %}
    <p><i>i due numeri sono uguali</i></p>
  {% endif %}
{%endblock content%}